version: '3.7'

services:
  db:
    image: postgres:12.0-alpine
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env.db
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}

  web:
    container_name: web
    build: ./web
    command: gunicorn barrakes.wsgi:application --bind 0.0.0.0:8000 --workers=4
    restart: always
    env_file:
      - .env
      - .env.db
    expose:
      - 8000
    volumes:
      - staticfiles:/opt/app/barrakes/staticfiles
    depends_on:
      - db

  nginx:
    build: ./nginx
    restart: always
    ports:
      - 666:80
    volumes:
      - staticfiles:/opt/app/barrakes/staticfiles
    depends_on:
      - web

  duckdns:
    image: linuxserver/duckdns
    container_name: duckdns
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Madrid
      - SUBDOMAINS=${DUCKDNS_SUBDOMAIN}
      - TOKEN=${DUCKDNS_TOKEN}
    restart: unless-stopped

volumes:
  postgres_data:
  staticfiles: