
{%  load static %}

  <div class="modal-dialog modal-dialog-aside" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <div class="flex-column">
              <h3 class="modal-title">Comanda #<a>{{ order.id }}</a></h3>
              <h4>Cadira <a>{{ order.seat_number }}</a></h4>
          </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {% include './order_items_container.html' %}
      </div>
        <div class="justify-content-start" style="padding: 10px">
                {% if order.comment %}
                    <hr>
                    <div class="text-left">
                        <h4>Comentaris</h4>
                        <p>{{ order.comment }}</p>
                    </div>
                {% endif %}
                <hr>
                <div class="text-left">
                    <h4>Mètode de pagament</h4>
                </div>
                <div class="text-center">
                    <div class="
                        {% if order.payment_method == order.PAYMENT_CARD %}
                            credit_card
                        {% elif order.payment_method == order.PAYMENT_CASH %}
                            cash
                        {% endif %}" style="width:100px;height:70px;display:inline-block;background-size:contain;
    background-repeat:no-repeat;"></div>
                    {% if order.payment_method == order.PAYMENT_CASH %}
                        <h5>{{ order.payment_amount }} €</h5>
                    {% endif %}
                </div>

      </div>
      <div class="modal-footer justify-content-end">
          <div class="text-right">
              <h2>Total: <a id="total_price">{{ order.total_price }} </a>€</h2>
              {% if order.payment_method == order.PAYMENT_CASH %}
                <h3>Canvi: <span style="font-weight: normal" class="bold text-danger">{{ order.payment_change }} €</span></h3>
              {% endif %}
          </div>
      </div>
    </div>
  </div> <!-- modal-bialog .// -->

{% block extra_css %}
    <link href="{% static 'dist/css/modals.css' %}" rel="stylesheet">
    <link href="{% static 'dist/css/payment_methods.css' %}" rel="stylesheet">
{% endblock %}