{% load static %}
{% load template_extra %}

<div class="container-fluid">
        <div class="container px-1 px-md-4 py-5 mx-auto">
            <div class="card">
                <div class="row d-flex justify-content-between px-3 top">
                    <div class="d-flex text-sm-left flex-column">
                        <h5>Comanda <span class="text-primary font-weight-bold">#{{ object.id }}</span></h5>
                        <h6>Cadira: <span>{{ object.seat_number }}</span></h6>
                    </div>
                    <div class="d-flex flex-column text-right">
                        <p>Preu: <span class="font-weight-bold">{{ object.total_price }} €</span></p>
                        <p>Mètode de pagament:
                            <span>
                                {% if object.payment_method == object.PAYMENT_CASH %}
                                    <label class="mdi mdi-coin"></label> ({{ object.payment_amount }} €)
                                {% elif object.payment_method == object.PAYMENT_CARD %}
                                    <label class="fa fa-credit-card"></label>
                                {% endif %}
                            </span></p>
                    </div>
                    {% if object.status_steps <= 4 %}
                        </div> <!-- Add class 'active' to progress -->
                        <div class="row d-flex justify-content-center">
                            <div class="col-12">
                                <ul id="progressbar" class="text-center">
                                {% for i in object.status_steps|times %}
                                    <li class="active step0"></li>
                                {% endfor %}
                                {% for i in num_unactive_progress|times %}
                                    <li class="step0"></li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="row justify-content-center text-center">
                            <div class="col-3">
                                <img class="icon" src="{% static 'dist/css/icons/oktoberfest.png' %}">
                                <p class="font-weight-bold">Comanda<br>rebuda</p>
                            </div>
                            <div class="col-3">
                                <img class="icon" src="{% static 'dist/css/icons/serving_beer.png' %}">
                                <p class="font-weight-bold">Comanda<br>en procés</p>
                            </div>
                            <div class="col-3">
                                <img class="icon" src="{% static 'dist/css/icons/empty_table.png' %}">
                                <p class="font-weight-bold">Comanda<br>en ruta</p>
                            </div>
                            <div class="col-3">
                                <img class="icon" src="{% static 'dist/css/icons/beer.png' %}">
                                <p class="font-weight-bold">Comanda<br>finalitzada</p>
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <h5>Cancel·lat</h5>
                        </div>
                    {% endif %}
            </div>
        </div>
    </div>

